* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

input {
    border: none;
    outline: none;
}

.main-container {
    background: #F5F8FF;
}

iframe {
    width: 100% !important;
    border-radius: 20px;
    object-fit: cover;
    max-height: 56vw;
}
#videoCard {
    max-height: 56vw;;
}
@media only screen and (min-width: 992px) {
    iframe {
        max-height: 90%;
    }
}
